<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gilgamesh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gilgamesh.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>https://uac.gmu.edu/dana-na/auth/url_0/welcome.cgi?p=failed</value>
            </setting>
            <setting name="useragent" serializeAs="String">
                <value>Windows Mozilla</value>
            </setting>
            <setting name="success" serializeAs="String">
                <value>You have successfully logged in.</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="wait" serializeAs="String">
                <value>1200000</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </Gilgamesh.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
